<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Blogger</title>
</head>
<body>

    <div class="container">
        <header>
            <h1 id="title">My Blogs</h1>
            <a href="/new" id="newPostBtn">Create New</a>
        </header>

        <main>
            <% if (locals.data) { %>
                <ul class="postList">
                    <% data.forEach(post => { %>
                        <li>
                            <h2> <%= post.title %> </h2>
                            <small> <%= post.date %> </small>
                            <p> <%= post.content %> </p>
                            <small> <%= post.author %> </small> 
                            <a href="/edit/<%= post.id %>" class="edit">Edit</a>
                            <a href="/delete/<%= post.id %>" class="delete">Delete</a>
                        </li>
                    <% }); %>
                </ul>
            <% } else if (locals.error) { %>
                <h3> <% error %> </h3>
            <% } else { %>
                <h3>Unable to fetch the data.</h3>
            <% } %>
        </main>

    </div>

    
    
</body>
</html>